body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: #2962FF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  justify-content: center;
}

.input, .output {
  margin: 5vw;
}

.input-text {
  background-color: transparent;
  color: inherit;
  width: 40vw;
  height: 50vh;
}

.output-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: #424242;
  width: 40vw;
  height: 50vh;
}